/*NAVBAR Y CAROUSEL*/

.navbar {
  background-color: black; /* Color de fondo del navbar */
  justify-content: space-between;
  
}
.navbar a {
  float: left;
  display: block;
  color: rgb(0, 0, 0); /* Color del texto del enlace */
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  
}

.nav-link{
  padding-right: 50px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black; /* Color del texto al pasar el ratón por encima */
}

.carousel-item img{
  width: 66%;
  height: 30%;
  justify-content: right; /* Centra horizontalmente */
  padding-top: 20px;
  padding-left: 34%;
}
.carousel-item{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: auto;
}
.carousel-text {
  width: 100%; /* Ajusta el ancho del texto */
  color: #fff;
  text-align: center;
  padding-bottom: 2%;
}

/* HASTA AQUI CONFIGURACION DEL HEADER Y CAROUSEL*/ 


/* mapa api */

#map{
  border-radius: 5rem;
  border-style: ridge;
  border-width: 1rem;
  border-color: bisque;
  height: 40rem;
  width: 100%; 
}

.texto-mapa{
  color: beige;
  font-size: 2rem;
  text-align: center;
}

.mapa{
  background-color: rgb(32, 32, 32);
}

/*AQUI COMIENZA DEL REGISTRO */

.registro-container {

  width: 40%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ff8b2c;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  
}

.registro-form {

  display: flex;
  flex-direction: column;
}

.registro-form h3 {

  margin-bottom: 20px;
  color: #1c0707;
}

.registro-form input {

  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #680909;
  border-radius: 3px;
}

.registro-form button {

  padding: 10px;
  background-color: #ca5613;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registro-form button:hover {

  background-color: #0056b3;
}

.span_registro{
  color: #cc3d3d; /* Hacemos el texto transparente para que el fondo sea visible */
  background: white; /* Color de fondo completo */
  border-radius: 4px;
}


/*AQUI POST LOG-IN*/


.post-log{
  text-align: center;
  padding-top: 50px;
  color: #9c1212;
}

.under-post-log{
  text-align: center;
  color: #502314;
}
